[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
coverage = "*"
flake8 = "*"
vcrpy = "*"

[packages]
cached-property = "*"
defusedxml = "*"
requests = "*"
six = "*"
